Repository NOCSurfaceProcesses/geotrees, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, docs, geotrees, information, license, release

ci: fix pipeline
  .github/workflows/testing-suite.yml
Labels: CI

ci: fix pipeline for python 3.9
  .github/workflows/testing-suite.yml
Labels: CI

ci: add publishing actions
  .github/workflows/publish-pypi.yml
Labels: CI

ci: remove erroneous command tag
  .github/workflows/publish-pypi.yml
Labels: CI

ci: add missing permissions key
  .github/workflows/publish-pypi.yml
Labels: CI

ci: use trusted-publishing option on uv publish
  .github/workflows/publish-pypi.yml
Labels: CI

ci: add python 3.9 test to workflow
  .github/workflows/testing-suite.yml
Labels: CI

license: update license to Apache 2.0
  LICENSE
  docs/Documentation.pdf
  docs/Documentation.tex
  docs/authors.rst
  geotrees/distance_metrics.py
  geotrees/great_circle.py
  geotrees/kdtree.py
  geotrees/neighbours.py
  geotrees/octtree.py
  geotrees/quadtree.py
  geotrees/record.py
  geotrees/shape.py
  geotrees/utils.py
Labels: docs, geotrees, license

Create dependabot.yml
  .github/dependabot.yml
Labels: none

deps: set-up dependabot
  .github/dependabot.yml
Labels: none

ci: only run tests on push if main
  .github/workflows/testing-suite.yml
Labels: CI

deps: update dependencies
  .pre-commit-config.yaml
  uv.lock
Labels: CI

ci: test with python 3.14
  .github/workflows/testing-suite.yml
Labels: CI

chore: expose OctTree at geotrees level
  geotrees/__init__.py
Labels: geotrees

feat(quadtree)!: New PolarsQuadTree class that can work with polars DataFrame
  geotrees/distance_metrics.py
  geotrees/quadtree.py
  geotrees/record.py
  geotrees/shape.py
  pyproject.toml
  test/test_quadtree.py
  uv.lock
Labels: geotrees, release

fix: correct bounds checking, add FailedInsertWarning
  geotrees/quadtree.py
  geotrees/utils.py
  test/test_quadtree.py
Labels: geotrees

feat(octtree): Add PolarsOctTree class
  geotrees/octtree.py
  test/test_octtree.py
Labels: geotrees

.github/labeler.yml:

# label rules used by .github/workflows/label.yml

# label 'ci' all automation-related steps and files
#   Since this repository is in itself an automation process to deploy a server instance,
#   we refer here to CI as the 'meta' configuration files for managing the code and integrations with the repository,
#   not configurations related to the deployment process itself.
#
# idea from https://github.com/Ouranosinc/xclim/blob/main/.github/labeler.yml

'CI':
  - changed-files:
    - any-glob-to-any-file:
      - '.gitignore'
      - '.pre-commit-config.yaml'
      - '.github/workflows/*'
      - 'docs/Makefile'

'docs':
  - changed-files:
    - any-glob-to-any-file:
      - '.readthedocs.yml'
      - 'docs/**/*'
      - 'CONTRIBUTING.md'
      - 'README.md'
      - 'CHANGES.md'

'geotrees':
  - changed-files:
    - any-glob-to-any-file:
      - 'geotrees/*.py'
      - 'geotrees/**/*.py'

'information':
  - changed-files:
    - any-glob-to-any-file:
      - 'CONTRIBUTING.md'
      - 'CHANGES.md'

'license':
  - changed-files:
    - any-glob-to-any-file:
      - 'LICENSE'

'release':
  - changed-files:
    - any-glob-to-any-file:
      - 'pyproject.toml'
